* ul,li,ol{margin: 0;padding: 0;}
ul,li,ol{list-style: none;}
a{text-decoration: none;color: #333;font-size: 10px;}

.header{
    .header1{
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            a{
                img{
                    height: 1.8rem;
                }
            }
        }
    }
    .header2{
        width: 100%;
        height: 7vh;
        display: flex;
        
        #gnb{
            width:87%;
            height: 100%;
            background-color: #CE2B2B;
            border-top:0.5px solid #222222;
            border-bottom:0.5px solid #222222;
            border-left:0.5px inset #222222;
            li{
                display: flex; 
                flex-direction: column; 
                align-items: center; 
                justify-content: center; 
                
                a{
                    font-size: 0.9rem;
                    color: white;

                }
                ul{
                    li{
                        a{

                        }
                    }
                }
            }
        }
        div{
            width: 13%;
            height: 100%;
            background-color: rgb(255, 255, 255);
        }
    }
}

// .bannerslide{width: 80%;height: 80%;}
// @media (max-width: 767px){.bannerslide{}}
// @media (min-width: 768px) and (max-width: 991px){}
// @media (min-width: 992px){}

.swiperslide{width: 98vw;height: 60vh;margin: 0 auto;}
.sws{width: 98vw; height: 60vh; 
    div{width: 80%;height: 100%;margin: 0 auto; background-repeat: no-repeat;background-position: center;background-size: calc(100%);}
}